- title 'Krista & Jeff\'s Wedding'
%h1
  Krista &amp; Jeff's Wedding
%p.lead.muted
  The occasion will be Friday, September 12th, 2014 at Holy Family Church followed by a recpetion at the Knickerbocker Hotel

%p
  We have no idea how this website was created, but will be updating it often!
