<h3>Bridal Party</h3>
<div class='contentBg'>
  <h4>Shannon Hollander. Maid of Honor.</h4>
  <h5>Los Angeles, California.</h5>
  <h6>Friends since freshman year of college.</h6>
  <p>Shannon's favorite memories:
    <ol>
      <li>Coming home, to the apartment we shared in college on Columbia Avenue to find Ms. Krista Krauss out on the porch with a broom trying to shoo a rascally squirrel, or maybe it was bird, I'm not quite sure. But she was out on that porch like crazy woman calling for this animal only to try and smack it off the building. I think I peed laughing at her, and I took a picture.</li>
      <li>The time we rode the world's slowest rollercoaster in Las Vegas.</li>
      <li>Study break dance parties. In particular, the mix of Gold-digger, London Bridge, and Nelly.</li>
      <li>Surviving the snowpacalypse</li>
      <li>and Making the world's greatest christmas card</li>
      <li>But really my favorite memories are the countless nights we spent watching trash TV, talking about boys, stupid classes, those crazy housewives, and helping Krista spell words. Specifically the night I came back from touring in Montana for 5 months. We watched "Say Yes to the Dress", drank sparkling wine with raspberries, and picked up like I was never gone.</li>
    </ol>
  </p>

  <h4>Michelle Cajigal. Bridesmaid.</h4>
  <h5>Chicago, Illinois.</h5>
  <h6>Friends since grade school.</h6>
  <p>Michelle's childhood memories: I recall the many sleepovers where we pushed each other into the unfiltered autumn pool, hung the contents of Krista's underwear drawer on trees while she was sleeping, and planned our punk-rock band Jubilee (none of us played any instruments, but logic be damned, we were in a band and had Liverpool accents). I'm sure these were all events spread out over the course of our childhoods and adolescences, but I prefer to remember that we did all those things EVERY time.</p>

  <p>Krista's childhood memories: I remember meeting Michelle on the first day of 5th grade. She was the new girl, and I think I was the first one to talk to her. I don't remember how we became such good friends because it was nearly two decades ago, but I do remember why: because we could get real weird with each other and there was absolutely no judgment. Some of my favorite memories include:
  <ul>
    <li>Horny Toads.</li>
    <li>Moo, Oink and Meow.</li>
    <li>Learning the complete dance to Britney Spears' "Oops, I Did It Again" (and being proud that I still know all the dance moves).</li>
    <li>Our Miss Saigon duet in high school.</li>
    <li>Our journals that got us into trouble in middle school.</li>
    <li>Going to concerts of crappy bands.</li>
    <li>'Drag racing' in the Jeep.</li>
  </ul></p>

  <h4>Samantha Colonna. Bridesmaid.</h4>
  <h5>Chicago, Illinois.</h5>
  <h6>Friends since freshman year of high school.</h6>
  <p>When asked to give her favorite memory of their relationship, Sam says: There are too many ridiculous memory's to choose from. We've parasailed in Cozumel together, been to Vegas (twice!), hit up Door County a few times and have done our fare share tromping around Chicago. I guess through it all Krista has never been afraid to be her beautiful self, even if it means putting on a crazy face for a photo or two. PS: Krista does the craziest raptor impression. Please request she do this on her wedding day!</p>

  <p>Why we're friends, by Krista: Sam and I were brought together by our love of volleyball and theatre. I first met Sam when we were in middle school and participated in Bartlett High School's summer volleyball camp. I remember thinking Sam (who had gone to a private school) was so amazing at volleyball. We ended up on the same team that summer, and I was so excited to play with her. Sam named our team "Chicks Rule" which I thought was very cool. So I wanted to be friends with Sam because she was good at volleyball and she was cool. My wish came true later when we both earned spots on the Freshman A team (along with bridesmaids Haley and Amy). Turns out we shared a lot more than just volleyball and theatre; we both shared a love for sleepovers, Queen of the Damned (coughstuarttownsendsshoulderscough) and awkward moments. CHI TOWN RULS! PS: Sam, please bring your own ice bucket to my wedding reception, I don't think the Damm's will be able to provide you with one in case of an emergency. I'm so sorrryyyyy!</p>

  <h4>Haley Damm. Bridesmaid.</h4>
  <h5>Honolulu, Hawaii.</h5>
  <h6>Friends since freshman year of high school.</h6>
  <p>How Haley and Krista become best friends, by Haley: Freshman year of high school Krista and I met for the first time at volleyball tryouts. But it was probably two weeks into school before I knew we would be friends for life! I didn't know a lot of people when high school started so lunch time those first few weeks was very awkward. One day the mean girls at the lunch table I had chosen bullied me out of sitting with them and made me cry. When I finally got the courage to wipe the tears and resurface from the bathroom I headed to the lunchroom and started scanning around for people I knew. I made eye contact with Krista and she immediately motioned me over, not knowing what had happened. Right away she said "Are u ok girl?" And scooted over so I could sit with her. The tears were never mentioned again and Krista and I were pretty inseparable from that moment on. It was meant to be. :) We have always been the best and the worst influences of the group. It's just how we roll.</p>

  <p>Special notes to Haley from Krista: Haley and I have a unique bond because we always know how to have a good time, and we try to let the little things slide. That being said, Haley, in an effort for you to enjoy my wedding as much as possible, I have a few special notes for you:
  <ul>
    <li>There will be no nudy poop shoots allowed.</li>
    <li>I tried to invite Carl the Jamaican bartender to the wedding; sadly he is unable to make it.</li>
    <li>Please try not to go rogue and get black foot.</li>
    <li>CHI TOWN RULS!</li>
    <li>There will be no sneaking of liquor onto the boat in backpacks.</li>
    <li>You will have to eat the food in front of you, there will be no sneaking into the kitchen for mozza sticks.</li>
    <li>I won't make you sing&hellip; probably.</li>
    <li>And the wedding will not end in a party in the barn.</li>
  </ul></p>

  <h4>Denise Donovan. Bridesmaid.</h4>
  <h5>Chicago, Illinois.</h5>
  <h6>Friends since 2010.</h6>
  <p>How Denise and Krista met as told by Denise: Krista and I met at an audition for a play that was quite interesting.  It was the story of Ninjas, crossword puzzles, and fast food.  We were the only two females at the call-back so we assumed we were competing with one-another.  I remember thinking to myself "Shoot! Two blonde beauties with nice booties! This will be difficult, for Krista does have a bodacious backside." However, we were both cast and became great friends who shared many laughs. To this day, we have mutual respect for our booties and complement each other on them often.  I now live with Krista, Jeff, and their two illegitimate children, Roscoe and Gilligan.  However, I still look back on our single days as two actresses with brains and booty fondly.  Krista is an incredible friend and I am so happy to see her so happy. :) xoxoxoxo</p>

  <p>How Denise and Krista met, as told by Krista: Denise and I met after college at an audition for a show about four years ago. We were the only two girls in a comedy about Ninjas and talking toasters. We quickly became friends because we both shared a love for ridiculous, awkward and over the top comedy. I love Denise because she is always the wild card; you just never know what she will say next. Though Denise's humor is sensationally and hilariously unpredictable, she is one of the most reliable and dependable people I know. If you ever need anything, Denise will be there for you in a heartbeat- no questions asked. Denise and I have been roommates for over two years, the last year we have shared with Jeff and his dog Roscoe (and recent addition, Gilligan). The five of us live happily on the north side of Chicago. Yes, their living situation is sort of sit-com-ey (Two Girls, a Guy, and Two Furry Monsters?) Krista loves Denise for loving the doggies as her own, and is glad she has grown into a "dog person". And she's really sorry about that one time Roscoe ate her favorite Lululemon pants. It's because he loves you!</p>

  <h4>Maggie Fossum. Bridesmaid.</h4>
  <h5>San Diego, California.</h5>
  <h6>Friends since freshman year of high school.</h6>
  <p>Maggie on friendship: Where do I start? Krista is one of my oldest and very dearest friends. From plays and sleepovers in high school to parties and finals preparation in college to traveling across the country for visits, she has always embodied the truest definition of a friend. Selfless, thoughtful, and absolutely hilarious, she effortlessly brightens everyone's day. I am genuinely humbled and honored to call her my friend and can't wait to celebrate her wedding day!!</p>

  <p>Krista's first impression of Maggie: Maggie and I first met in our freshman English class. To be honest, she was pretty quiet, and new to the area, so I didn't take notice of her at first. We began studying "Romeo and Juliet" in class, and we would read it aloud. One day, Maggie volunteered to read for Juliet, and this was the first time I noticed her. She started going through Juliet's soliloquy and I was shocked. I remember thinking, "Holy cow she's amazing! And she's super hot! Who is this girl? I need to be friends with her immediately." The opportunity didn't come until a little while later when friend Amy introduced them. Amy knew Maggie from acting class and Krista from the volleyball team. Thus was the start to a beautiful friendship. Maggie and I were truly brought together by our love of theatre, and frequently performed together. We competed on speech team together (placing in every tournament we competed in), we played everything from famous enemies Abigail Williams and Elizabeth Proctor in "The Crucible" to historic best friends Annie Sullivan and Helen Keller in "The Miracle Worker". Maggie and I even attended college together where we continued to play in the theatre. We were lucky enough to play a lot of characters together, and thus learned a lot about ourselves and each other in the process. And even though Maggie has given me a black eye, I trust her with my life. Plus, if it wasn't for Maggie, I would have no embarrassing stories to tell as if they were my own, and I wouldn't know about my hidden gift to turkey gobble. We all miss Maggie since she has moved out west but it has given me a great excuse to escape the Chicago winters. And it doesn't matter how far away she lives- we will be best fwendsh fwoever- even though you suck a minigolf. #areyouwearingstripeduderwear?</p>

  <h4>Amy Hummel. Bridesmaid.</h4>
  <h5>Chicago, Illinois.</h5>
  <h6>Friends since freshman year of high school.</h6>
  <p>Amy on first impressions: Krista and I were not immediately friends, mostly because the first time I journeyed to her parents' house I was startled and alarmed by the wallpaper covering her room, and by wallpaper, I mean Creed posters. Scott Stapp was everywhere you looked. In response to what must have looked like a mixture of curiosity and fear, Krista said "Oh yes, I love Creed." Ya think!? But thankfully my music taste was not much better (N*sync 4 life!) and we have been friends ever since.</p>

  <p>Krista on her and Amy's friendship: Amy and I became friends our freshman year of high school. We both were on the volleyball team and participated in theatre. Along with fellow bridesmaids Maggie, Haley, Jessica, and Sam, we formed the tightly knit "Crew" who were all bound together through the school drama department. Amy is often referred to as the glue of the crew, she keeps everyone together and I love her for that. I also love Amy because she is always there when you need her. Amy is one of the most generous and loving people that I know- just don't ever play beer pong against her, because you'll regret it. Amy might be one of the most supremely competitive people you will ever meet, but it's a part of her drive and ambition that people respect and admire. Also, Amy has given me one of the best gifts I have ever received: in college Amy gave me a mug with an old picture of the six of us from high school. The photo itself is really embarrassing, and to have it on a to go mug is amazing. Jeff loves carrying around 17 year old me on a mug.</p>

  <h4>Katie Kasper. Bridesmaid.</h4>
  <h5>Los Angeles, California.</h5>
  <h6>Friends since freshman year of college.</h6>
  <p>Katie Kasper on friendship and vacations: One winter day in Chicago 2010 Krista and I shared a cab home in which I said "Ugh, I want to get out of town" in some overly dramatic tone while staring out the window.  Krista replied "Yeah, me too" to which I immediately gave sideways glance and in effort to test her boundaries I said, "Like, I wanna get out of the country?" Krista without thought says "How about Mexico!" Finally I had a partner in crime. Needless to say within a week we were headed to an all-inclusive Mexican vacation. Here is a picture of the two of us with our favorite 'in pool' bartender, who is also wearing Krista's sunglasses&hellip;only in Mexico.</p>

  <p>Krista's fun facts on her and Katie's friendship: 
  <ol>
    <li>Katie is the most talented person per square inch that I know. She is also the bendiest person I know.</li>
    <li>Katie and I lived together with Shannon and another college friend Kate our senior year of college.</li>
    <li>One of our post college jobs was flying through the air in a two story wine cellar in a restaurant called Texas de Brazil. A "wine angel" is the closet either of us will ever get to being actual angels.</li>
    <li>Katie hates the Chicago cold more than just about anything. While intoxicated one autumn night in college, Katie came home and made a to-do list, which included: returning books to the library, going to the grocery store, and dreading winter.</li>
    <li>It can be difficult to tell when Katie is joking and when she is serious. You should mostly assume she's joking.</li>
    <li>While single, Katie and I loved vacationing together as a couple. We have been to: Aruba, Cancun and the Wisconsin Dells- just to name a few.</li>
    <li>I love Katie's dry humor and her honesty.</li>
    <li>I also love that I can fit her into an overhead storage bin.</li>
  </ol></p>

  <h4>Heidi Kowal. Bridesmaid.</h4>
  <h5>Chicago, Illinois.</h5>
  <h6>Sister.</h6>
  <p>Heidi on having a little sister: When Krista was little, a lot of people thought she was my kid because she was so much younger. And our mom would always get really upset when someone assumed she was her grandmother!</p>

  <p>Krista on being a little sister: Because my siblings were much older than I, it felt like I was an only child a lot of the time. They were off at college, or studying abroad, or living in the city- but when my sister and brother would come home, it was the best. I always looked forward to having them around, mostly so I could annoy them, or play games with them, or get them in trouble. But they had their fair share of laughs, too: I have a vivid childhood memory of my sister chasing me around the house with my father's prize catch- a giant stuffed tuna fish that normally hung on the wall above our bar. I was scared of the thing as a child, and I was so horrified by the sight of it up close in my sister's arms that I locked myself in my mother's closet until she came home. But, in her defense, I probably deserved it. So thanks Heidi, for putting up with your annoying little sister for all those years. Hopefully I am a less annoying adult.</p>

  <h4>Jessica Wrobel. Bridesmaid.</h4>
  <h5>Chicago, Illinois.</h5>
  <h6>Friends since freshman year of high school.</h6>
  <p>What friends are for, by Jessica: Krista and I met in our freshman high school study hall.  Things in common? Bangs.  I can't speak to the evolution of out friendship from there because it happened so seamlessly and quickly over the next four years. But ever since then, Krista has been the most unselfish, giving friend a girl could ask for. Whether it was borrowing clothes from her closet (and sometimes not returning them all that clean) or throwing the bachelorette party of a lifetime and literally carrying the bride back to the hotel (not sure who THAT bride was), it's clear she would do anything for her friends and family. I'm so proud to be this beautiful girl's friend for over 12 years and now, her bridesmaid.</p>

  <p>No, my name is not Jessica, by Krista: Jessica and I met in freshman year study hall, I was making bad decisions about boyfriends, and we were both making bad decisions about bangs. Like many of our high school friends, we were brought together by theatre. Though, Jessica and I both had sweet big bangs, and were approximately the same height and build- so we were often confused for one and other. Teachers got us confused, upper classmen got us confused, even our friends occasionally called us by the wrong name. And it didn't help that we were both born days apart from each other- we even shared a Sweet Sixteen birthday party (Indian Lakes was da best). But, truth be told, I was glad to be confused with you because it was like a compliment. I was happy to be mistaken for the effortlessly beautiful, intelligent and caring young lady known as Jessica. Plus it was nice to have someone my size to share clothes with, and have enough tolerance to laugh at the light weights.</p>
</div>

<hr />

<div class='contentBg'>
  <h4>David Hanawalt. Best Man.</h4>
  <h5>Chicago, Illinois.</h5>
  <h6>Friends since junior high.</h6>

  <h4>Zach Miller. Best Man.</h4>
  <h5>Waverly, Iowa.</h5>
  <h6>Brother.</h6>

  <h4>Tony Gamblin. Groomsman.</h4>
  <h5>Chicago, Illinois.</h5>
  <h6>Met in 2009 via Dave.</h6>

  <h4>Andy Houston. Groomsman.</h4>
  <h5>Las Vegas, Nevada.</h5>
  <h6>Mentor gone wrong.</h6>

  <h4>Nestor Kowal. Groomsman.</h4>
  <h5>Chicago, Illinois.</h5>
  <h6>Future Brother-in-law.</h6>

  <h4>Joe Meginnes. Groomsman.</h4>
  <h5>Chicago, Illinois.</h5>
  <h6>Met in 2013 via Amy.</h6>

  <h4>Greg Miller. Groomsman.</h4>
  <h5>Waverly, Iowa.</h5>
  <h6>Brother.</h6>

  <h4>Tim Miller. Groomsman.</h4>
  <h5>Waverly, Iowa.</h5>
  <h6>Brother.</h6>

  <h4>Tim Wienckowski. Groomsman.</h4>
  <h5>Chicago, Illinois.</h5>
  <h6>Met 2012 via Sam.</h6>
</div>
