<% if @guest %>
  <p>
    <strong>ID:</strong>
    <%= @guest.id %>
  </p>

  <p>
    <strong>First:</strong>
    <%= @guest.first %>
  </p>

  <p>
    <strong>Last:</strong>
    <%= @guest.last %>
  </p>
<% end %>