<% if @guest %>
  <% if @guest.rsvp_adults.nil? %>
    <%= render 'confirm' %>
  <% else %>
    <p>
      <strong>You're RSVP'd for:</strong>
      <%= @guest.rsvp_adults %>
    </p>
  <% end %>
<% end %>