body .navbar .nav {
  font-size: inherit;
}

div.contentBg {
  background-color: #FEF6EB;
  padding: 20px;
  text-align: justify;
}

p, ol, ul, td {
  font-size: 1.25em;
  font-family: 'Sorts Mill Goudy', serif;
}

h1, h2, h3, h4, h5, h6 {
  color: #8C001A;
  font-family: 'Diplomata SC', cursive;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

img {
  margin-bottom: 15px;
}

a {
  color: #000;
  &:visited {
    color: #666;
  }
  //&:hover {
    //color: #fff;
    //background-color: #000;
  //}
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

div.container {
  /* background-color: #F1E9DE; */
}

div a.brand {
  font-family: 'Monsieur La Doulaise', cursive !important;
}





#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}
