// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

li {
  list-style-position: inside;
}

.center {
  text-align: center;
}

.homeDates {
  color: inherit;
  font-family: inherit;
}

img.paragraph_left {
  float: left;
  padding-right: 20px;
}

img.paragraph_right {
  float: right;
  padding-left: 20px;
}

img.paragraph_center {
  display: block;
  margin: 0 auto;
}

h5, h6 {
  font-family: 'Sorts Mill Goudy', serif;
  font-size: 1.5em;
  color: #7B633A;
}

#shannon, #samantha, #denise, #amy, #heidi {
  border: 2px solid #8C001A;
  width: 33%;
  float: right;
  margin-left: 30px;
}

#haley, #maggie, #jessica {
  border: 2px solid #8C001A;
  width: 33%;
  float: left;
  margin-right: 30px;
}

#michelle {
  border: 2px solid #8C001A;
  width: 7.75%;
  float: left;
  margin-right: 15px;
}

#katie {
  border: 2px solid #8C001A;
  width: 16%;
  float: left;
  margin-right: 15px;
}