<footer class="footer twelve columns">
  <nav>
    <ul>
      <li><a href="#">Home Page</a></li>
      <li><a href="#">Our Story</a></li>
      <li><a href="#">Wedding Party</a></li>
      <li><a href="#">Wedding Events</a></li>
      <li><a href="#">Accommodations</a></li>
      <li><a href="#">Guestbook</a></li>
      <li><a href="#">Regestries</a></li>
    </ul>
  </nav>
</footer>