<a target="_blank" href="http://www.amazon.com/b/ref=as_acph_cc_htl_1015_1222?_encoding=UTF8&camp=1789&creative=9325&linkCode=ur2&node=2516034011&tag=krijefswedweb-20"><img src="https://images-na.ssl-images-amazon.com/images/G/01/img13/traffic/holiday-toy-list/9-27_holiday-toy-list_300x250_v3._V355090958_.png" border="0" alt="" style="border:none !important; margin:0px !important;" /></a>

%hr
%p
  Special thanks to: 
  = link_to 'https://github.com/diowa/ruby2-rails4-bootstrap-heroku' do
    %i.icon-github
    diowa/ruby2-rails4-bootstrap-heroku

%p#debugging= debug(params) if Rails.env.development?  debug(@guest) if Rails.env.development?

.navbar.navbar-fixed-bottom
  .navbar-inner
    .container
      %ul.nav
        %li
          %a{:title => 'Home', :href => root_path } Home
        %li
          %a{:title => 'Our Story', :href => our_story_path } Our Story
        %li
          %a{:title => 'Wedding Party', :href => wedding_party_path } Wedding Party
        %li
          %a{:title => 'Wedding Events', :href => events_path } Wedding Events
        %li
          %a{:title => 'Accommodations', :href => accommodations_path } Accommodations
        %li
          %a{:title => 'Guestbook', :href => guestbook_path } Guestbook
        %li
          %a{:title => 'Regestries', :href => registries_path } Regestries
