<nav class="navbar navbar-default navbar-static-top" role="navigation">
  <ul>
    <li><a href="#">Link 1</a></li>
    <li><a href="#">Link 2</a></li>
    <li><a href="#">Link 3</a></li>
  </ul>
</nav>


<header class="header" id="masthead">
  <h1>Jeff &amp; Krista</h1>






</header>