.navbar.navbar-fixed-top
  .navbar-inner
    .container
      = link_to 'K&J', root_path, class: 'brand'
      %ul.nav
-#        %li.active
        %li
          %a{:title => 'Our Story', :href => our_story_path } Our Story
        %li
          %a{:title => 'Wedding Party', :href => wedding_party_path } Wedding Party
        %li
          %a{:title => 'Wedding Events', :href => events_path } Wedding Events
        %li
          %a{:title => 'Accommodations', :href => accommodations_path } Accommodations
        %li
          %a{:title => 'Guestbook', :href => guestbook_path } Guestbook
        %li
          %a{:title => 'Regestries', :href => registries_path } Regestries
